@model ProductMarketingApp.Models.Product

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Image Path
        </dt>
        <dd class="col-sm-10">
            @Model.ImagePath
        </dd>
        <dt class="col-sm-2">
            Date Posted
        </dt>
        <dd class="col-sm-10">
            @Model.DatePosted
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
